
/* All Title Display Animation */
.fadeUp {
   opacity: 0;
   transform: translateX(-40px);
   animation: fadeUp 3.6s ease forwards;
   -webkit-animation: fadeUp 3.6s ease forwards;
   -webkit-transform: translateX(-40px);
   -moz-transform: translateX(-40px);
   -ms-transform: translateX(-40px);
   -o-transform: translateX(-40px);
}
@keyframes fadeUp {
   0% {
      opacity: 0;
      transform: translateX(-40px);
   }
   100% {
      opacity: 1;
      transform: translateX(0px);
   }
}





/* Home Section */
.Graphic ,
.Branding {
   padding: 50px  0px;
}


.Graphic {
   background-color:white ;
}
.Branding {
   background-color:#f0f0f0 ;
}









/* Portfolio Section */
.imgContainer::before {
   content: attr(data-before);
   position: absolute;
   top: 0;
   left: 50%;
   width: 80%;
   transform: translate(-50%, 0);
   padding: 10px 30px;
   font-weight: bold;
   background-color:  rgb(106, 106, 106);
   opacity: 0;
   z-index: 1000;
   text-align: center;
   transition: var(--main-transition);
}
.imgContainer:hover::before {
   top: calc(50% - 50px);
   opacity: 0.8;
}
.imgContainer::after {
   content: "Visit This Project";
   position: absolute;
   bottom: 0;
   left: 50%;
   width: 80%;
   font-weight: bold;
   transform: translate(-50%, 0);
   padding: 10px 30px;
   background-color: rgb(106, 106, 106);
   opacity: 0;
   text-align: center;
   transition: var(--main-transition);
}
.imgContainer:hover::after {
   bottom: calc(50% - 50px);
   opacity: 0.8;
}
.imgContainer:hover .linkGithub {
   bottom: 0px;
}
.image{
   transition: var(--main-transition);
   -webkit-transition: var(--main-transition);
   -moz-transition: var(--main-transition);
   -ms-transition: var(--main-transition);
   -o-transition: var(--main-transition);
}
.image:hover {
   scale: 1.1;
   rotate: 5deg;
}

.linkGithub {
   position: absolute;
   width: 100%;
   bottom: -50px;
   left: 0px;
   display: flex;
   justify-content: space-between;
   text-align: center;
   background-color: rgb(232, 230, 230);
   padding: 10px 30px;
   opacity: 0.8;
   font-weight: bold;
   z-index: 999;
   transition: var(--main-transition);
   -webkit-transition: var(--main-transition);
   -moz-transition: var(--main-transition);
   -ms-transition: var(--main-transition);
   -o-transition: var(--main-transition);
}
.link {
   color: var(--main-color);
   transition: var(--main-transition);
   -webkit-transition: var(--main-transition);
   -moz-transition: var(--main-transition);
   -ms-transition: var(--main-transition);
   -o-transition: var(--main-transition);
}
.link:hover {
   color: var(--main-color);
   filter: brightness(70%);
   -webkit-filter: brightness(70%);
}



/* Contact Section */
.Contact {
   height: 300px;
   position: relative;
   letter-spacing: -3px;
}
.Contact::before{
   content: "";
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-image:  url("../../../public/backContact.jpg");
   background-size: cover;
   background-position: center ;
   background-attachment: fixed;
   opacity: 20%;
   z-index: -1 ; 
}






/*Start Media Screen */
/* Mobil Screen */
@media (max-width: 767px) {
}
                     /* Small Screen */
@media (min-width: 768px) {
}
                     /* Medium Screen */
@media (min-width:992px){
}
                     /* Large Screen */
@media (min-width:1200px){
}
/*End Media Screen */
