.typingEffect {
   white-space: nowrap;
   font-size: 14px;
   /* font-size: 12px; */
}

.cursor {
   display: inline-block;
   margin-left: 2px;
   width: 1ch;
}

.blink {
   animation: blink 1s infinite;
}

@keyframes blink {
   0%, 50%, 100% {
      opacity: 1;
   }
   25%, 75% {
      opacity: 0;
   }
}





/*&==========Ens Global Rules  ===========*/
/*Start Media Screen */
                     /* Mobil Screen */
@media (max-width: 767px) {
   .typingEffect {
      font-size: 12px;
      width: 80%;
      margin: 0px auto;
   }
}
                     /* Small Screen */
@media (min-width: 768px) {
}
                     /* Medium Screen */
@media (min-width:992px){
}
                     /* Large Screen */
@media (min-width:1200px){
}
/*End Media Screen */
