

.header {
   height: 290px;
   background-image: url("../../../public/backGroundHeader.jpg");
   /* background-position: bottom; */
   background-position: center right;
   background-size: cover;
   /* background-attachment: fixed; */
}
.links {
   background-color: transparent;
   padding: 15px;
   height: 55px;
   padding-right: 100px;
   font-size: 14px;
   transition: var(--main-transition);
   -webkit-transition: var(--main-transition);
   -moz-transition: var(--main-transition);
   -ms-transition: var(--main-transition);
   -o-transition: var(--main-transition);
}
.linksActive {
   /* background-color: #f0f0f0; */
   color: white !important;
   box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}
.link {
   color: black;
   transition: var(--main-transition);
   -webkit-transition: var(--main-transition);
   -moz-transition: var(--main-transition);
   -ms-transition: var(--main-transition);
   -o-transition: var(--main-transition);
}
.link:hover {
   color: rgb(156, 154, 154) !important;
}
.scrollDiv {
   bottom: 10px !important;
   z-index: 9999;
}
.scrollBtn {
   padding: 8px 12px;
   border: 1px solid var(--main-color);
   background-color: white;
   color: var(--main-color);
   font-size: 20px;
}
.scrollBtn:hover{
   border: 1px solid var(--main-color);
   background-color: rgb(232, 231, 231);
   color: var(--main-color);
}
.whatsApp {
   width: 50px;
   border-radius: 10px;
   -webkit-border-radius: 10px;
   -moz-border-radius: 10px;
   -ms-border-radius: 10px;
   -o-border-radius: 10px;
}



.menuBtn {
   width: 50px;
   height: 50px;
   top: 2px;
   right: 20px; 
   background: transparent;
   border: none;
   display: flex;
   align-items: center;
   justify-content: center;
   cursor: pointer;
   z-index: 9999 ;
}
/* .menuIcon,
.menuIcon::before,
.menuIcon::after {
   content: "";
   width:100%;
   height: 2px;
   background-color: #000;
   display: block;
   transition: 0.4s;
   border-radius: 3px;
   position: relative;
}
.menuIcon::before {
   position: absolute;
   top: -8px;
}
.menuIcon::after {
   position: absolute;
   top: 8px;
} */
.mobileLink {
   height: 220px;
}
.menuBtn.active .menuIcon {
   background-color: transparent;
}
.menuBtn.active .menuIcon::before {
   top: 0;
   transform: rotate(45deg);
}
.menuBtn.active .menuIcon::after {
   top: 0;
   transform: rotate(-45deg);
}



/*Start Media Screen */
                     /* Mobil Screen */
@media (max-width: 767px) {
   .header {
      height: 300px;
      background-position: top right;
   }
   .menuBtn {
      display: block !important;
   }
   .largeScreenLinks {
      display: none !important;
   }
}
                     /* Small Screen */
@media (min-width: 768px) {
}
                     /* Medium Screen */
@media (min-width:992px){
}
                     /* Large Screen */
@media (min-width:1200px){
}
/*End Media Screen */