
.mainContainer {
   max-width: 1000px;
   margin: 0 auto;
   padding: 20px;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   line-height: 1.7;
   color: #333;
}

.banner {
   margin-bottom: 30px;
   height: 500px;
   overflow: hidden;
   border-radius: 12px;
}

.banner img {
   width: 100%;
   height: 100%;
   border-radius: 12px;
   box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.title {
   margin-bottom: 15px;
   color: #222;
}

.description {
   color: #555;
   font-size: 16px;
}

.links {
   margin: 15px 0;
}

.links a {
   margin-right: 15px;
   color: #007BFF;
   text-decoration: none;
   font-weight: 500;
   transition: 0.3s;
   -webkit-transition: 0.3s;
   -moz-transition: 0.3s;
   -ms-transition: 0.3s;
   -o-transition: 0.3s;
}

.links a:hover {
   text-decoration: underline;
}

.section {
   background-color: #fff;
   padding: 20px;
   border-radius: 12px;
   margin-bottom: 25px;
   box-shadow: 0 4px 20px rgba(0,0,0,0.08);
}

.section h3 {
   border-bottom: 2px solid var(--main-color);
   display: inline-block;
   margin-bottom: 10px;
   padding-bottom: 5px;
}

.list {
   list-style: circle;
   margin-top: 10px;
   padding-left: 20px;
   color: #555;
}
