
.contact {
   padding: 100px 0px 20px 0px;
}
.contact::before{
   content: "";
   position: absolute;
   top: -50px;
   left: 0;
   width: 100%;
   height: 100%;
   background-image:  url("../../../public/backgroundContact.jpg");
   background-size: cover;
   background-position: center;
   opacity: 20%;
   z-index: -1 ; 
}
.contact::after{
   content: "";
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: rgb(152, 152, 152);
   z-index: -1 ; 
   opacity: 10%;
}

.form{
   width: 95%;
}

.form input::placeholder ,
.form textarea::placeholder {
   color: rgb(100, 100, 100);
   font-size: 14px;
}
.btnSend {
   background-color: var(--main-color) ;
   font-size: 14px;
   padding: 10px 40px;
   margin: 10px 0px;
}
.btnSend:hover{
   background-color: var(--btnHover-color) ;
}


/*&==========Ens Global Rules  ===========*/
/*Start Media Screen */
                     /* Mobil Screen */
@media (max-width: 767px) {
}
                     /* Small Screen */
@media (min-width: 768px) {
   .form{
      width: 80%;
   }
}
                     /* Medium Screen */
@media (min-width:992px){
   .form{
      width: 60%;
   }
}
                     /* Large Screen */
@media (min-width:1200px){
   .form{
      width: 40%;
   }
}
/*End Media Screen */
