

.divFooter {
   font-size: 8px;
}




/*Start Media Screen */
/* Mobil Screen */
@media (max-width: 767px) {
   .footer {
      font-size: 10px;
   }
   .sectionFooter {
      padding: 20px 0px 40px 0px !important;
   }
}
                     /* Small Screen */
@media (min-width: 768px) {
}
                     /* Medium Screen */
@media (min-width:992px){
}
                     /* Large Screen */
@media (min-width:1200px){
}
/*End Media Screen */