

.divFooter {
   font-size: 8px;
}
.sectionFooter {
   padding: 20px 10px!important;
}
.footer {
   font-size: 14px;
}

.social {
   position: relative;
   z-index: 9999;
   width: 30px;
   height: 30px;
   margin: 5px;
   background-color: var(--main-color);
   transition: var(--main-transition);
   display: flex;
   justify-content: center;
   align-items: center;
   -webkit-transition: var(--main-transition);
   -moz-transition: var(--main-transition);
   -ms-transition: var(--main-transition);
   -o-transition: var(--main-transition);
}
.social:hover{
   background-color: var(--btnHover-color) ;
}
.spanFooter {
   font-size: 10px;
}


/*Start Media Screen */
/* Mobil Screen */
@media (max-width: 767px) {
   .footer {
      font-size: 10px;
   }
   .sectionFooter {
      text-align: center;
      font-weight: bold;
      padding: 20px 10px 80px 10px !important;
   }
}
                     /* Small Screen */
@media (min-width: 768px) {
}
                     /* Medium Screen */
@media (min-width:992px){
}
                     /* Large Screen */
@media (min-width:1200px){
}
/*End Media Screen */