

.divFooter {
   font-size: 8px;
}
.sectionFooter {
   padding: 40px 10px !important;
}

.social {
   width: 30px;
   height: 30px;
   margin: 5px;
   background-color: var(--main-color);
   display: flex;
   justify-content: center;
   align-items: center;
}



/*Start Media Screen */
/* Mobil Screen */
@media (max-width: 767px) {
   .footer {
      font-size: 10px;
   }
   .sectionFooter {
      padding: 20px 10px !important;
   }
}
                     /* Small Screen */
@media (min-width: 768px) {
}
                     /* Medium Screen */
@media (min-width:992px){
}
                     /* Large Screen */
@media (min-width:1200px){
}
/*End Media Screen */